{{template "header.html" .}}

<div class="container">
    <div class="row">
        <div class="col-xs-12" style="height:25px;"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Punycode Decode/Encode one or more lines</h2>
            <p>Use <a href="https://punycode.fun">Punycode.fun</a> to punycode encode or decode one or more lines of text. This can be
            especially useful for IDN domains.</p>
        </div>
        <div class="col-md-6">
            <form id="decodeform" method="post" onsubmit="return decodePunycode();">
                <div class="form-group">
                    <label for="decodeStrings">Strings</label>
                    <textarea name="strings" type="text" class="form-control" rows="6" id="encodeStrings" aria-describedby="encodeHelp">{{.stringsVarDecoded}}</textarea>
                    <small id="encodeHelp" class="form-text text-muted">One string per line.</small>
                </div>
                <div class="col-xs-12" style="height:25px;"></div>
                <button type="submit" class="btn btn-primary">Encode</button>
            </form>

        </div>
        <div class="col-md-6">
            <form id="encodeform" method="post" onsubmit="return encodePunycode();">
                <div class="form-group">
                    <label for="encodeStrings">Strings</label>
                    <textarea name="strings" type="text" class="form-control" rows="6" id="decodeStrings" aria-describedby="decodeHelp">{{.stringsVarEncoded}}</textarea>
                    <small id="decodeHelp" class="form-text text-muted">One string per line.</small>
                </div>
                <div class="col-xs-12" style="height:25px;"></div>
                <button type="submit" class="btn btn-primary">Decode</button>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span6">
                {{template "flash.html" .}}
            </div>
        </div>
    </div>

    <script>
        function encodePunycode() {
            var values = $("#encodeform").serializeArray();
            var data = {};

            for (i = 0; i < values.length; i++) {
                    data[values[i].name] = values[i].value;
            }

            $.ajax({
                method: "POST",
                url: "/api/v1/encode",
                data: data
            }).done(function (obj) {
                console.log("encode");
                console.log(obj);
                var block = $("#encodeStrings");
                block.html("");
                for (i = 0; i < obj.encoded_strings.length; i++) {
                    block.append(obj.encoded_strings[i] + "\n");
                }
            });
            return false;
        }


        function decodePunycode() {
            var values = $("#decodeform").serializeArray();
            var data = {};

            for (i = 0; i < values.length; i++) {
                data[values[i].name] = values[i].value;
            }

            $.ajax({
                method: "POST",
                url: "/api/v1/decode",
                data: data
            }).done(function (obj) {
                console.log("decode");
                console.log(obj);
                var block = $("#decodeStrings");
                block.html("");
                for (i = 0; i < obj.decoded_strings.length; i++) {
                    block.append(obj.decoded_strings[i] + "\n");
                }
            });
            return false;
        }

        decodePunycode();

    </script>

</div>

{{template "footer.html" .}}